@{
    ViewBag.Title = "OZMEICAN";
}

@section css {
    <!-- Latest compiled and minified CSS -->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">*@
    <link href="~/Content/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Optional theme -->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">*@
    <link href="~/Content/Bootstrap/css/bootstrap-theme.css" rel="stylesheet" />

    @* <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=x3AY8bSPxj5PRaGy1OR2AP65"></script>*@
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>
}

<script type="text/javascript">
    var clientID = 'True' == '@Request.IsAuthenticated'? '@User.Identity.Name' : "Unknown";
</script>

<header style="height: 46px; width: 100%">
    <div id="login" style="width: 1024px; height: 100%; margin: 0px auto">
        @if (Request.IsAuthenticated)
        {
            <text>
            Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
            </text>

            <button id="shoppingBtn" type="button" class="btn btn-lg pull-right" aria-label="left align">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </button>
        }
        else
        {
            <div style="margin-right: 30px">
	            <img id="loginBtn" class="pull-right" style="width: 40px; height: 40px" src="~/Images/icons/icon_USER.png" />
                <img id="registerBtn" class="pull-right" style="width: 40px; height: 40px" src="~/Images/icons/icon_SETTING.png" />
                @*<button id="shoppingBtn" type="button" class="btn pull-right" style="width: 40px; height: 40px" aria-label="left align">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                </button>*@
            </div>
        }
    </div>
</header>

<div id="shoppingList" style="width: 1024px; height: 768px; margin: 0px auto; display: none">
    <div style="text-align: center; vertical-align: middle">
        <div class="shoppingHeader">
            <button class="btn btn-lg" id="shoppingBack">GO BACK</button>
        </div>
        <div class="shoppingContent">
            <table style="border: 1px solid #c6baba" border="1" cellspacing="0" cellpadding="0" width="100%">
                <tr style="border: 1px solid #c6baba">
                    <td style="border: 1px solid #c6baba">已点菜品</td>
                    <td style="border: 1px solid #c6baba">所属餐馆</td>
                    <td style="border: 1px solid #c6baba">价格</td>
                    <td style="border: 1px solid #c6baba">份数</td>
                    <td style="border: 1px solid #c6baba">积分</td>
                </tr>
            </table>

            <div class="pull-right" style="width: 70%">
                <span class="pull-right">
                    <p>菜总价 : <span id="total-price">0.00</span></p>
                </span>
                <br />
                <br />

                <p>地址: </p>
                <div id="deliver-address" style="width: 80%; margin-top: 5px" >
                    <label >Street No</label>
                    <input id="st_no" type="text" \>
                    <br />
                    <label >Street </label>
                    <input id="st" type="text" \>
                    <br />
                    <label >Subub </label>
                    <input id="sb" type="text" \>
                    <br />
                    <label >State</label>
                    <input id="sta" type="text" \>
                    <br />
                    <label >Postal Code</label>
                    <input id="pc" type="text" \>
                    <br />
                </div>
                <button id="deliver-change-loc">计算运费</button>
            </div>
            <br />
            <br />
            <br />
            <span class="pull-right">
                <p>距离: <span id="deliver-des"></span></p>
            </span>
            <br />
            <br />
            <span class="pull-right">
                <p>运费: <span id="deliver-price">0.00</span></p>
            </span>
            <br />
            <br />
            <span class="pull-right">
                <p>总价 : <span id="total">0.00</span></p>
            </span>
            <br />
            <br />
            <button id="payBtn" class="pull-right btn btn-lg">Pay</button>
        </div>
    </div>
</div>

<div id="content" style="width: 1024px; height: 768px; margin: 0px auto">
    <div id="level0" style="height: 100%">
        <div class="leftPane pull-left" style="position: relative; width: 50%; height: 100%">
            <div class="label pull-left" style="position: absolute; top: 30px; left: 0px; width: 25px; height: 115px;"> 
                <img style="margin-left: -2px" src="~/Images/icons/tag_BF.png" />
            </div>
            <div class="label pull-left" style="position: absolute; top: 145px; left: 0px; width: 25px; height: 115px;">
                <img style="margin-left: -2px" src="~/Images/icons/tag_LUNCH.png" />
            </div>
            <div class="label pull-left" style="position: absolute; top: 260px; left: 0px; width: 25px; height: 115px;">
                <img style="margin-left: -2px" src="~/Images/icons/tag_DINNER.png" />
            </div>
            <div class="leftCover" style="margin-left: 25px; height: 100%; border: 1px solid #808080; box-shadow:-3px 0px 8px #808080, 0px -3px 8px #808080, 0px 3px 8px #808080;">
                <div class="leftPage" style="margin: 33px 33px 33px 30px; border: 1px solid #62BBFF; ">
                    <div class="leftContent">
                        <div class="hearder" style="height: 80px; width: 100%; display: table;">
                            <div style="display: table-cell; vertical-align: middle; width: 100%; ">
                                <p style="margin: 0; padding-top: 5px; padding-bottom: 5px; background-color: #62BBFF; text-align: center"><strong>请选择你居住的区域</strong></p>
                            </div>
                        </div>
                        <div id="cityNav" style="height: 40px; border: 1px solid #62BBFF">
                        </div>
                        <div id="cities" class="listArea" style="width : 100%; overflow : auto"> 
                        </div>
                        <div id="cityMap" style="display: none">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightPane pull-right" style="width: 50%; height: 100%; position: relative">
            <div class="rightCover" style="margin-right: 25px; height: 100%; border: 1px solid #808080; box-shadow:3px 0px 8px #808080, 0px -3px 8px #808080, 0px 3px 8px #808080">
                <div class="rightPage" style="margin: 33px 33px 33px 30px;" @*border: 1px solid #62BBFF*@>
                    <div class="rightContent">
                        <button class="btn btn-lg changePage" style="position: absolute; top: 40px; right: 65px; width: 50px; padding: 10px 8px">翻页</button>
                        <img style="position: absolute; bottom: 40px; right: 60px" src="~/Images/icons/image_DISH.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="level1" style="height: 100%; display: none"> 
        <div class="leftPane pull-left" style="position: relative; width: 50%; height: 100%">
            <div class="label pull-left" style="position: absolute; top: 30px; left: 0px; width: 25px; height: 115px;"> 
                <img style="margin-left: -2px" src="~/Images/icons/tag_BF.png" />
            </div>
            <div class="label pull-left" style="position: absolute; top: 145px; left: 0px; width: 25px; height: 115px;">
                <img style="margin-left: -2px" src="~/Images/icons/tag_LUNCH.png" />
            </div>
            <div class="label pull-left" style="position: absolute; top: 260px; left: 0px; width: 25px; height: 115px;">
                <img style="margin-left: -2px" src="~/Images/icons/tag_DINNER.png" />

            </div>
            <div class="leftCover" style="margin-left: 25px; height: 100%; border: 1px solid #808080; box-shadow:-3px 0px 8px #808080, 0px -3px 8px #808080, 0px 3px 8px #808080;">
                <div class="leftPage" style="margin: 33px 33px 33px 30px; border: 1px solid #62BBFF; ">
                    <div class="leftContent">
                        <div class="hearder" style="height: 120px; border: 1px solid blue">
                            <button class="btn btn-lg pull-left changePage" style="margin-left: 5px; margin-top: 5px; padding: 10px 8px; width: 50px">翻页</button>
                            <div>
                                <div class="input-group" style="margin-top: 15px; margin-left: 15px; margin-right: 15px; padding-left: 20px">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </button>
                                    </span>
                                    <input type="text" class="form-control">
                                </div>
                                <!-- /input-group -->

                                <div class="btn-group" role="group" aria-label="..." style="width: 60%; margin: 5px auto; padding-left: 50px">
                                    <button id="mapBtn" type="button" class="btn btn-default">地图</button>
                                    <button id="listBtn" type="button" class="btn btn-default">列表</button>
                                </div>
                            </div>
                        </div>
                        <div id="rtContainer" class="listArea">
                            <div id="fastPay" style="height: 40px; display: table; border: 1px solid #62BBFF; width: 100%">
                                <h2 style="margin: 5px; float: left">快捷订餐</h2>
                                <p style="vertical-align: middle; display: table-cell">几秒完成订单</p>
                            </div>
                            <div class="btn-group" role="group" aria-label="..." style="width: 100%; height: 20px">
                                <button type="button" class="btn btn-default" style="width: 33.3%; height: 20px; font-size: 0.7em">在线支付</button>
                                <button type="button" class="btn btn-default" style="width: 33.3%; height: 20px; font-size: 0.7em">优惠活动</button>
                                <button type="button" class="btn btn-default" style="width: 33.3%; height: 20px; font-size: 0.7em">VIP特权</button>
                            </div>
                            <div id="rtList" style="margin: 5px; border: 1px solid #808080; overflow: auto">
                            </div>
                        </div>
                        <div id="restMap" style="display: none">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightPane pull-left" style="width: 50%; height: 100%; ">
            <div class="rightCover" style="margin-right: 25px; height: 100%; border: 1px solid #808080; box-shadow:3px 0px 8px #808080, 0px -3px 8px #808080, 0px 3px 8px #808080">
                <div class="rightPage" style="margin: 33px 33px 33px 30px; border: 1px solid #62BBFF; position: relative">
                    <img class="pull-right" style="position: absolute; top: 0px; right: 0px" src="~/Images/icons/image_DISH.png" />
               
                    <div id="dishList" style="position: absolute; width: 98%; top: 205px; margin: 5px; overflow: auto">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <!-- Latest compiled and minified JavaScript -->
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>*@
    <script src="~/Content/Bootstrap/js/bootstrap.js"></script>
    <script src="~/Scripts/CityNav/CityNav.js"></script>
    <script src="~/Scripts/RtList/RtList.js"></script>
    <script src="~/Scripts/Order/Order.js"></script>

    <script type="text/javascript">
        var nv = new CityNav(dataCallback);
        var rt = new RtList();
        var od = new Orders();
        var map = null;
        var markers = [];

        $(function () {
            var h_l = $('.leftCover').height();
            $('.leftPage').css("height", (h_l - 70) + "px");

            var h_r = $('.rightCover').height();
            $('.rightPage').css("height", (h_r - 70) + "px");

            var city_p_h = $('.leftPage').height();
            $('.listArea').css("height", (city_p_h - 40 - 80) + "px");
            $("#rtList").css("height", (city_p_h - 40 - 80 - 75) + "px");
            $("#dishList").css("height", (city_p_h - 40 - 80 - 95) + "px");

            var mapProp = {
                center: new google.maps.LatLng(0, 0),
                zoom: 13,
                panControl: true,
                zoomControl: true,
                mapTypeControl: true,
                scaleControl: true,
                streetViewControl: true,
                overviewMapControl: true,
                rotateControl: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById("restMap"), mapProp);

            $('.changePage').click(function () {
                var bHidden = $('#level0').css("display") == "none"
                if (bHidden) {
                    $('#level1').hide();
                    $('#level0').show();
                } else {
                    $('#level0').hide();
                    $('#level1').show();
                    rt.createRTContent();
                    rt.createDishContent();

                    if ($('#restMap').visible)
                        $('#listBtn').click();
                }
            });

            /**
             * level 1 show list
             */
            $('#listBtn').click(function () {
                $('#restMap').hide();
                $('#rtContainer').show();
            });

            /**
             * level 1 show map
             */
            $('#mapBtn').click(function () {
               
                var w = $('#rtContainer').width();
                var h = $('#rtContainer').height();
                $('#restMap').css({ "width": w + "px", "height": h + "px" });
                $('#rtContainer').hide();
                $('#restMap').show();

                google.maps.event.trigger(map, 'resize');

                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({ 'address': rt.country + ' ' + rt.curSub + ' ' + rt.postalCode }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        // do something with the geocoded result
                        //
                        var d = results[0].geometry.location.D;
                        var k = results[0].geometry.location.k;

                        for (index = 0; index < markers.length; ++index) {
                            markers[index].setMap(null);
                        }
                        markers = [];
                        map.setCenter(new google.maps.LatLng(k, d));

                        /**
                         *  add markers
                         */
                        $.each($('.restBtn'), function (index, item) {
                            var loc = $(item).children('p[data-ele=loc]').html();
                            var name = $(item).children('strong[data-ele=title]').html();
                            geocoder.geocode({ 'address': loc }, function (results, status) {
                                var d_tmp = results[0].geometry.location.D;
                                var k_tmp = results[0].geometry.location.k;

                                var pos = new google.maps.LatLng(k_tmp, d_tmp);
                                // To add the marker to the map, use the 'map' property
                                var marker = new google.maps.Marker({
                                    position: pos,
                                    map: map,
                                    title: name
                                });

                                google.maps.event.addListener(marker, 'click', function () {
                                    item.click();
                                });

                                var contentString = '<div class="mark-dlg" style="width:50px">' +
                                                        '<div class="mark">' +
                                                            name +
                                                        '</div>' +
                                                     '</div>';

                                var infowindow = new google.maps.InfoWindow({
                                    content: contentString
                                });

                                google.maps.event.addListener(marker, 'mouseover', function () {
                                    infowindow.open(map, marker);
                                });

                                google.maps.event.addListener(marker, 'mouseout', function () {
                                    infowindow.close();
                                });

                                markers.push(marker);
                            });
                        });
                    }
                });
            });

            $('#shoppingBtn').click(function () {
                //$('#shoppingList').css({ "width": "1024px", "height": "768px", "margin": "0 auto" });

                //if (clientID == "Unknown")
                //    alert("please login first");

                var table = $('div.shoppingContent > table')
                table.children().remove();

                var tp = 0.0;
                $('#total-price').html(tp);
                $('#deliver-price').html(0.00);
                $('#total').html(tp);

                $('<tr style="border: 1px solid #c6baba"> \
                    <td style="border: 1px solid #c6baba">已点菜品</td> \
                    <td style="border: 1px solid #c6baba">所属餐馆</td> \
                    <td style="border: 1px solid #c6baba">价格</td> \
                    <td style="border: 1px solid #c6baba">份数</td> \
                    <td style="border: 1px solid #c6baba">积分</td> \
                   </tr>').appendTo(table);

                $.each(od.getCurrentOrders(), function (index, item) {

                    var tmp = $('<tr style="border: 1px solid #c6baba"> \
                                    <td style="border: 1px solid #c6baba"></td> \
                                    <td style="border: 1px solid #c6baba"></td> \
                                    <td style="border: 1px solid #c6baba"></td> \
                                    <td style="border: 1px solid #c6baba"></td> \
                                    <td style="border: 1px solid #c6baba"></td> \
                                    <td style="border: 1px solid #c6baba"></td> \
                                </tr>');
                    tmp.appendTo(table);

                    tmp.children()[0].innerText = item.dishName;
                    tmp.children()[1].innerText = item.restName;
                    tmp.children()[2].innerText = item.price;
                    var plus = $('<button class="btn btn-sm plusBtn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>');
                    plus.appendTo(tmp.children()[3]);
                    var countSpan = $('<span class="dishCount"></span>');
                    countSpan[0].innerText = item.count;
                    countSpan.appendTo(tmp.children()[3]);
                    var minus = $('<button class="btn btn-sm minusBtn"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>');
                    minus.appendTo(tmp.children()[3]);
                    var subTotal = item.subTotal;
                    tmp.children()[4].innerText = subTotal;

                    tp += parseFloat(subTotal)

                    $('#total-price').html(tp);
                    $('#total').html(tp);

                    $(tmp.children()[3]).children().first().click(function () {
                        od.addOrderDish(item.restName, item.dishName, item.price, item.dishID);
                        var countSpanTmp = $(tmp.children()[3]).children('.dishCount');
                        countSpanTmp.html(parseInt(countSpanTmp.html()) + 1);

                        var pp = parseFloat($('#total-price').html());
                        $('#total-price').html(pp + item.price);
                        $('#total').html(pp + item.price + parseFloat($("#deliver-price").html()));
                    });

                    $(tmp.children()[3]).children().last().click(function () {
                        od.removeOrderDish(item.restName, item.dishName, item.price);
                        var countSpanTmp = $(tmp.children()[3]).children('.dishCount');
                        countSpanTmp.html(parseInt(countSpanTmp.html()) - 1);

                        var pm = parseFloat($('#total-price').html());
                        $('#total-price').html(pm - item.price);
                        $('#total').html(pp - item.price + parseFloat($("#deliver-price").html()));
                    });
                });

                $("#shoppingList").slideDown();
                $("#content").slideUp();
            });

            $('#shoppingBack').click(function () {
                //$('#shoppingList').css({ "width": "1024px", "height": "768px", "margin": "0 auto" });
                od.resetOrderCount();
                $("#shoppingList").slideUp();
                $("#content").slideDown();
            });

            $('#registerBtn').click(function () {
                location.href = '@Url.Action("Register", "Account")';
            });

            $('#loginBtn').click(function () {
                location.href = '@Url.Action("Login", "Account")';
            });

            $("#deliver-change-loc").click(function () {

                var st_no = $('#st_no')[0].value;
                var st = $('#st')[0].value;
                var sb = $('#sb')[0].value;
                var sta = $('#sta')[0].value;
                var pc = $('#pc')[0].value;

                if (st_no == "" || st == "" || sb == "" || sta == "" || pc == "") {
                    alert("insert address first");
                    return;
                }

                /**
                 * calculate the deliver cost
                 */
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({ 'address': rt.country + ' ' + rt.curSub + ' ' + rt.postalCode }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {

                        var d_rest = results[0].geometry.location.D;
                        var k_rest = results[0].geometry.location.k;

                        geocoder.geocode({ 'address': st_no + ' ' + st + ' ' + sb + ' ' + sta + ' ' + pc }, function (results_des, status_des) {
                            if (status_des == google.maps.GeocoderStatus.OK) {

                                var d_des = results_des[0].geometry.location.D;
                                var k_des = results_des[0].geometry.location.k;

                                var origin = new google.maps.LatLng(k_rest, d_rest);
                                var destination = new google.maps.LatLng(k_des, d_des);

                                var service = new google.maps.DistanceMatrixService();
                                service.getDistanceMatrix(
                                  {
                                      origins: [origin],
                                      destinations: [destination],
                                      travelMode: google.maps.TravelMode.DRIVING,
                                      unitSystem: google.maps.UnitSystem.METRIC,
                                      durationInTraffic: false,
                                      avoidHighways: false,
                                      avoidTolls: false
                                  }, function (response_final, status_final) {
                                      if (status_final == google.maps.GeocoderStatus.OK) {
                                          var distance = response_final.rows[0].elements[0].distance.text;
                                          $("#deliver-des").html(distance);

                                          var distance_num = parseFloat(distance.trim().split(" ")[0]) 

                                          if (distance_num < 6) $("#deliver-price").html(distance_num * 2.2);
                                          else if (distance_num >= 6 && distance_num < 15) $("#deliver-price").html(distance_num * 1.8);
                                          else if (distance_num >= 15) $("#deliver-price").html(distance_num * 1.2);

                                          $('#total').html(parseFloat($("#total-price").html()) + parseFloat($("#deliver-price").html()));

                                      } 
                                  });
                            } else {
                                alert("输入地址查询不到");
                            }
                        });
                    }
                });
            });

            $('#payBtn').click(function () {

                var data = new Object;
                data["orderData"] = od.orderJsonData();
                data["total"] = $('#total').html();
                data["delCost"] = $('#deliver-price').html();
                var destince = $("#deliver-des").html();
                if (destince != "")
                    data["dis"] = parseFloat(destince.trim().split(" ")[0]);
                else
                    data["dis"] = 0.0;

                $.ajax({
                    url: '/Home/saveOrder',
                    dataType: 'json',
                    contentType: 'application/json, charset=utf-8',
                    //data: JSON.stringify(data),
                    data: data,
                    cache: false,
                    //beforeSend: function () {
                    //    Loading();
                    //},
                    //complete: function () {
                    //    hiddenLoading();
                    //},
                    success: function (data) {
                        alert(data);
                        window.location.href = "/Home/PayPalPayment?price=" + parseFloat($('#total-price').text());
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
            });

            $("#fastPay").click(function () {

                if ($(this).hasClass("rtBtn_active"))
                    $(this).removeClass("rtBtn_active");
                else 
                    $(this).addClass("rtBtn_active");

                $.ajax({
                    url: '/Home/getFastPayDishContent',
                    dataType: 'json',
                    contentType: 'application/json, charset=utf-8',
                    cache: false,
                    //beforeSend: function () {
                    //    Loading();
                    //},
                    //complete: function () {
                    //    hiddenLoading();
                    //},
                    success: function (data) {
                        $('#dishList').children().remove();
                        rt.ds = eval(data);
                        rt.initDishView();
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
            });
        });

        function dataCallback() {
            nv.createNavButton("主页", 0);
            nv.listAllBtns();
        }
    </script>
}